<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.spring.erp_ordit.dao.attendance.AttMapper">

    <!-- 기본사항등록 -->
	<!-- 근태항목 리스트 -->
	<select id="regAttList" resultType="com.spring.erp_ordit.dto.attendance.AttItemsDTO">
		SELECT 
		  a.a_list_no,
		  a.a_code,
		  a.a_name,
		  a.a_type,
		  a.a_use,
		  a.a_note,
		  v.v_code,
		  v.v_name AS v_name,
		  v.v_start,
		  v.v_end,
		  a.rn
		FROM attendance_view a
		LEFT JOIN vacation_view v
		  ON a.v_code = v.v_code
	</select>
    <!-- 근태항목 등록 -->
	<insert id="insertAttItems" parameterType="com.spring.erp_ordit.dto.attendance.AttItemsDTO">
	  insert into attendance_tbl(a_code, a_name, a_type, a_note, v_code)
	  values(#{a_code}, #{a_name}, #{a_type}, #{a_note}, #{v_code})
	</insert>
    <!-- 근태항목 삭제 -->
    <delete id="deleteAttItems" parameterType="int">
        DELETE FROM attendance_tbl
         WHERE a_code = #{a_code}
    </delete>
    <!-- 근태항목 수정 -->
    <update id="updateAttItems" parameterType="com.spring.erp_ordit.dto.attendance.AttItemsDTO">
        UPDATE attendance_tbl
			   SET a_name = #{a_name}
			     , a_type = #{a_type}
			     , a_use = #{a_use}
			     , a_note = #{a_note}
			     , v_code = #{v_code}
			 WHERE a_code = #{a_code}
    </update>
    
    
	<!-- 휴가항목 리스트 -->
	<select id="regVacaList" resultType="com.spring.erp_ordit.dto.attendance.VacaItemsDTO">
		SELECT * FROM vacation_view ORDER BY v_code DESC
	</select>
    <!-- 휴가항목 등록 -->
    <insert id="insertVacaItems" parameterType="com.spring.erp_ordit.dto.attendance.VacaItemsDTO">
        insert into vacation_tbl(v_code, v_name, v_start, v_end, v_note)
        values(#{v_code},#{v_name},#{v_start}, #{v_end},#{v_note})
    </insert>
    <!-- 휴가항목 삭제 -->
    <delete id="deleteVacaItems" parameterType="int">
        DELETE FROM vacation_tbl
         WHERE v_code = #{v_code}
    </delete>
    <!-- 휴가항목 수정 -->
    <update id="updateVacaItems" parameterType="com.spring.erp_ordit.dto.attendance.VacaItemsDTO">
        UPDATE vacation_tbl
			   SET v_name = #{v_name}
			     , v_start = #{v_start}
			     , v_end = #{v_end}
			     , v_use = #{v_use}
			     , v_note = #{v_note}
			 WHERE v_code = #{v_code}
    </update>
    
	<select id="vacaName" resultType="String">
		SELECT v_name FROM vacation_tbl
	</select>
</mapper>
