<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.spring.erp_ordit.dao.hr.HrEmpCardMapper">

<!-- 인사카드 목록 조회 -->
<select id="hrEmpCardList" resultType="com.spring.erp_ordit.dto.hr.HrEmpCardDTO">
	SELECT *
  	  FROM empCard_view
</select>

<!-- 인사카드 등록 -->
<insert id="hrEmpCardInsert" parameterType="com.spring.erp_ordit.dto.hr.HrEmpCardDTO">
  INSERT INTO employee_tbl (
    e_name,
    e_tel,
    e_position,
    e_status,
    e_email,
    e_birth,
    e_entry,
    e_address,
    e_photo,
    e_salary_account_bank,
    e_salary_account_num,
    e_salary_account_owner,
    e_note,
    d_code
  )
  VALUES (
    #{e_name},
    #{e_tel},
    #{e_position},
    #{e_status},
    #{e_email},
    #{e_birth},
    #{e_entry},
    #{e_address},
    #{e_photo},
    #{e_salary_account_bank},
    #{e_salary_account_num},
    #{e_salary_account_owner},
    #{e_note},
    #{d_code}
  )
</insert>

<!-- 인사카드 상세보기 -->
<select id="hrEmpCardDetail" resultType="com.spring.erp_ordit.dto.hr.HrEmpCardDTO">
   SELECT * FROM empCard_view
    WHERE e_id=#{e_id} 
</select>

<!-- 인사카드 수정 -->
<update id="hrEmpCardUpdate" parameterType="com.spring.erp_ordit.dto.hr.HrEmpCardDTO">
  UPDATE employee_tbl
  SET
    e_name = #{e_name},
    e_tel = #{e_tel},
    e_position = #{e_position},
    e_status = #{e_status},
    e_email = #{e_email},
    e_birth = #{e_birth},
    e_entry = #{e_entry},
    e_address = #{e_address},
    e_photo = #{e_photo},
    e_salary_account_bank = #{e_salary_account_bank},
    e_salary_account_num = #{e_salary_account_num},
    e_salary_account_owner = #{e_salary_account_owner},
    e_note = #{e_note}
  WHERE e_id = #{e_id}
</update>

<!-- 인사카드 삭제 -->
<delete id="hrEmpCardDelete" parameterType="com.spring.erp_ordit.dto.hr.HrEmpCardDTO">
	DELETE FROM employee_tbl
	 WHERE e_id=#{e_id}
</delete>

</mapper>
