<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.spring.erp_ordit.dao.personnel.RetirementMapper">

    <!-- 인사 관리 - 퇴직 관리 -->
	<!-- 퇴사자 리스트 -->
	<select id="retirementList" resultType="com.spring.erp_ordit.dto.personnel.RetirementDTO">
		SELECT 
			r.resi_list_no,
			r.resi_type,
			r.resi_app_date,
			r.resi_date,
			r.resi_approval_status,
			r.resi_reasons,
			r.resi_succession_yn,
			r.resi_note,
			r.e_id,
			e.e_name,
			e.e_position,
			d.d_name
		FROM retirement_tbl r
		JOIN employee_tbl e ON r.e_id = e.e_id
		JOIN department_tbl d ON e.d_code = d.d_code
	</select>

</mapper>
