<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.spring.erp_ordit.dao.api.CalendarMapper">

    <!-- 일정 전체 조회 (해당 연도와 월) -->
    <select id="selectAllEvents" resultType="com.spring.erp_ordit.dto.api.CalendarDTO">
	    SELECT 
	        cal_event_id AS calEventId,
	        cal_title AS calTitle,
	        cal_start_date AS calStartDate,
	        cal_end_date AS calEndDate,
	        cal_all_day AS calAllDay,
	        cal_description AS calDescription,
	        cal_location AS calLocation,
	        cal_event_type AS calEventType,
	        is_holiday AS isHoliday,
	        e_id AS eId,
	        cal_created_at AS calCreatedAt,
	        cal_updated_at AS calUpdatedAt
	    FROM calendar_event_tbl
    </select>

    <!-- 일정 등록 -->
	<insert id="insertEvent" parameterType="com.spring.erp_ordit.dto.api.CalendarDTO">
		INSERT INTO calendar_event_tbl (
			cal_title,
			cal_start_date,
			cal_end_date,
			cal_all_day,
			cal_location,
			cal_event_type,
			e_id,
			cal_created_at,
			cal_updated_at
		) VALUES (
			#{calTitle},
			#{calStartDate},
			#{calEndDate},
			#{calAllDay},
			#{calLocation},
			#{calEventType},
			#{eId},
			NOW(),
			NOW())
	</insert>

	<!-- 일정 삭제 -->
	<delete id="deleteEvent" parameterType="int">
		DELETE FROM calendar_event_tbl
		WHERE cal_event_id = #{calEventId}
	</delete>
</mapper>