<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.spring.erp_ordit.dao.sell.SellAllListMapper">
	<!-- 판매 조회, 판매 현황 - 전체 리스트 -->
    <select id="sellAllList" resultType="com.spring.erp_ordit.dto.sell.SellAllListDTO">
      SELECT * FROM sell_allList_view
      WHERE order_show = 'Y'
    </select>
    
    <!-- 판매 조회 - 1건 상세 조회 -->
    <select id="detailAllList" resultType="com.spring.erp_ordit.dto.sell.SellAllListDTO">
      SELECT * FROM sell_allList_view
      WHERE order_id = #{order_id}
    </select>
    
    <!-- 판매 조회 - 수정 시작 -->
    <!-- 주문정보 -->
    <update id="updateAllList_order" parameterType="int">
		UPDATE order_tbl
   		   SET e_id=#{e_id}, client_code=#{client_code}, storage_code=#{storage_code}, transaction_type=#{transaction_type}, shipment_order_date=#{shipment_order_date}
 		 WHERE order_id = #{order_id}
    </update>
    
    <!-- 아이템 정보 -->
    <update id="updateAllList_item" parameterType="int">
		UPDATE order_item_tbl
	 	   SET item_code=#{item_code}, quantity=#{quantity}, price=#{price}, supply=#{supply}, vat=#{vat}, total=#{total}
		 WHERE order_id = #{order_id}
	</update>
    <!-- 판매 입력 - 등록 끝 -->
    
    <!-- 판매 조회 - 삭제 요청 -->
    <update id="deleteAllList" parameterType="int">
		UPDATE order_tbl
   		   SET order_show = 'N'
 		 WHERE order_id = #{order_id}
    </update>
   
</mapper>