<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.spring.erp_ordit.dao.sell.SellRequestClientMapper">
	<!-- 판매_거래처 관리 - 요청리스트 -->
    <select id="requestClientList" resultType="com.spring.erp_ordit.dto.sell.SellRequestClientDTO">
      SELECT 
			ROW_NUMBER() OVER (ORDER BY rc.sc_id DESC) AS rownum,
			ra.*, rc.* 
	   FROM request_client_approval_tbl ra, request_client_tbl rc
	  WHERE rc.sc_id = ra.sa_request_id
	    AND rc.sc_show = 'Y'
	  ORDER BY rc.sc_id DESC;
    </select>
   
    <!-- 판매_거래처 관리 - 등록 요청_시작 -->
    <!-- 거래처 정보 -->
    <insert id="insertClient" parameterType="com.spring.erp_ordit.dto.sell.SellRequestClientDTO"
    		useGeneratedKeys="true"
    		keyProperty="sc_id">
    	INSERT INTO request_client_tbl (sc_req_d_name, sc_client_name, sc_ceo, c_biz_num, sc_email, sc_tel, zone_code, base_address, detail_address, sc_type, sc_industry, sc_note)
		VALUES (#{sc_req_d_name}, #{sc_client_name}, #{sc_ceo}, #{c_biz_num}, #{sc_email}, #{sc_tel}, #{zone_code}, #{base_address}, #{detail_address}, #{sc_type}, #{sc_industry}, #{sc_note})
    </insert>
    
    <!-- 결재 테이블 등록 -->
    <insert id="insertClientApproval" parameterType="int">
    	INSERT INTO request_client_approval_tbl (sa_request_id)
		VALUES (#{sc_id})
    </insert>
    <!-- 판매_거래처 관리 - 등록 요청_종료 -->
    
    <!-- 판매_거래처 관리 - 1건 상세조회 -->
    <select id="detailClient" parameterType="int" resultType="com.spring.erp_ordit.dto.sell.SellRequestClientDTO">
		SELECT rc.*, 
        	   ra.*
    	  FROM request_client_tbl rc
    	LEFT JOIN request_client_approval_tbl ra
        	   ON rc.sc_id = ra.sa_request_id
    	WHERE rc.sc_id = #{sc_id}
   		  AND sc_show = 'Y';
    </select>
   
    <!-- 판매_거래처 관리 - 수정 요청 -->
    <update id="updateClient" parameterType="com.spring.erp_ordit.dto.sell.SellRequestClientDTO">
		UPDATE request_client_tbl
   		   SET sc_req_d_name=#{sc_req_d_name}, sc_client_name=#{sc_client_name}, sc_ceo=#{sc_ceo}, c_biz_num=#{c_biz_num},
   		   	   sc_email=#{sc_email}, sc_tel=#{sc_tel}, sc_address=#{sc_address}, sc_type=#{sc_type},
   		   	   sc_industry=#{sc_industry}, sc_note=#{sc_note}
 		 WHERE sc_id = #{sc_id}
	</update>
	
    <!-- 판매_거래처 관리 - 삭제 요청 -->
    <update id="deleteClient" parameterType="int">
		UPDATE request_client_tbl
		   SET sc_show = 'N'
		 WHERE sc_id = #{sc_id}
    </update>
   
   <!-- 판매_거래처 관리 - 사업자등록번호 중복 체크 -->
	  <select id="checkClientBizNum" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM client_tbl
		 WHERE c_biz_num= #{c_biz_num}
	  </select>
</mapper>