<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.spring.erp_ordit.dao.sell.SellSearchMapper">
	<!-- 판매 물품 검색 - 전체 리스트 -->
    <select id="sellSearchList" resultType="com.spring.erp_ordit.dto.sell.SellSearchDTO">
      SELECT * FROM sell_searchItemList_view
   </select>
   
   <!-- 판매 물품 검색 - 원하는 품목 선택 검색한 물품 리스트 -->
    <select id="sellSearchResultList" parameterType="com.spring.erp_ordit.dto.sell.SellSearchDTO" resultType="com.spring.erp_ordit.dto.sell.SellSearchDTO">
      SELECT * 
      FROM sell_searchItemList_view
      <where>
		  <choose>
		    <when test="item_code != null and item_code != '' and storage_name != null and storage_name != ''">
		      item_code = #{item_code} AND storage_name = #{storage_name}
		    </when>
		    <when test="item_code != null and item_code != ''">
		      item_code = #{item_code}
		    </when>
		    <when test="storage_name != null and storage_name != ''">
		      storage_name = #{storage_name}
		    </when>
		  </choose>
	  </where>
   </select>
   
   <!-- 판매 - 품목명 리스트 모달(키워드로 검색) -->
    <select id="sellSearchItemDetailList" parameterType="String" resultType="com.spring.erp_ordit.dto.sell.SellSearchDTO">
       SELECT item_code, item_name, item_standard 
       	FROM item_tbl
		WHERE item_code LIKE CONCAT('%', #{keyword}, '%')
		   OR item_name LIKE CONCAT('%', #{keyword}, '%')
		   OR item_standard LIKE CONCAT('%', #{keyword}, '%')
   	</select>
   
   <!-- 판매 - 물품 검색 모달 -->
    <select id="sellItemList" resultType="com.spring.erp_ordit.dto.sell.SellSearchDTO">
      SELECT *
      FROM item_tbl
   </select>
	
   <!-- 판매 입력 - 창고 선택 시 조회되는 품목 리스트 모달(키워드로 검색) -->
    <select id="storage_itemListKey" parameterType="map" resultType="com.spring.erp_ordit.dto.sell.SellSearchDTO">
      SELECT s.item_code,
		     i.item_name,
		     i.item_standard,
		     s.stock_amount
	    FROM stock_tbl s
	    JOIN item_tbl i
       	  ON i.item_code=s.item_code
	   WHERE storage_code = #{storage_code}
	   AND (i.item_code LIKE CONCAT('%', #{keyword}, '%') 
         OR i.item_name LIKE CONCAT('%', #{keyword}, '%') 
         OR i.item_standard LIKE CONCAT('%', #{keyword}, '%'))
   </select>
	
	
   <!-- 판매 입력 - 창고 선택 시 조회되는 품목 리스트 모달 -->
    <select id="storage_itemList" parameterType="int" resultType="com.spring.erp_ordit.dto.sell.SellSearchDTO">
      SELECT s.item_code,
		     i.item_name,
		     i.item_standard,
		     s.stock_amount
	    FROM stock_tbl s
	    JOIN item_tbl i
       	  ON i.item_code=s.item_code
	   WHERE storage_code = #{storage_code}
   </select>
	
	   
	<!-- 판매 - 거래처 검색 모달(키워드로 검색) -->
    <select id="sellSearchClientDetailList" parameterType="String" resultType="com.spring.erp_ordit.dto.sell.SellSearchClientDTO">
		SELECT client_code, client_name FROM client_tbl 
		 WHERE client_code LIKE CONCAT('%', #{keyword}, '%')
			OR client_name LIKE CONCAT('%', #{keyword}, '%')
	</select>
		      
	<!-- 판매 - 거래처 검색 모달 -->
    <select id="sellClientList" resultType="com.spring.erp_ordit.dto.sell.SellSearchClientDTO">
      SELECT * FROM client_tbl
   </select>
	
	<!-- 판매 - 담당자 검색 모달(키워드 검색) -->
	<select id="sellSearchEmployeeDetailList" parameterType="String" resultType="com.spring.erp_ordit.dto.sell.SellSearchEmployeeDTO">
      SELECT et.e_id,
		     et.e_name,
		     dt.d_code,
		     dt.d_name
		FROM
		    employee_tbl et
		LEFT JOIN
		    department_tbl dt
		    ON et.d_code = dt.d_code
	   WHERE 
			et.e_id > 0 AND (
			        et.e_id LIKE CONCAT('%', #{keyword}, '%') OR
			        et.e_name LIKE CONCAT('%', #{keyword}, '%') OR
			        dt.d_name LIKE CONCAT('%', #{keyword}, '%')
			    	)
   </select>
   
	<!-- 판매 - 담당자 검색 모달 -->
	<select id="sellEmployeeList" resultType="com.spring.erp_ordit.dto.sell.SellSearchEmployeeDTO">
      SELECT et.e_id,
		     et.e_name,
		     dt.d_code,
		     dt.d_name
		FROM
		    employee_tbl et
		LEFT JOIN
		    department_tbl dt
		    ON et.d_code = dt.d_code
	   WHERE et.e_id > 0
	   	AND dt.d_name='판매팀'
   </select>
   
   <!-- 판매 - 창고 검색 모달(키워드로 검색) -->
   <select id="sellSearchWarehouseDetailList" parameterType="String" resultType="com.spring.erp_ordit.dto.sell.SellSearchStorageDTO">
      SELECT * FROM warehouse_tbl
       WHERE storage_code LIKE CONCAT('%', #{keyword}, '%')
		  OR storage_name LIKE CONCAT('%', #{keyword}, '%')
   </select>
   
   <!-- 판매 - 창고 검색 모달 -->
   <select id="sellWarehouseList" resultType="com.spring.erp_ordit.dto.sell.SellSearchStorageDTO">
      SELECT * FROM warehouse_tbl
   </select>
   
</mapper>