/* 구매관리 css */

/* 검색바 */
.buy_search_bar {
    width: 230px;
    margin-bottom: 10px;
}

/* 구매 상세페이지 - 수정,삭제,목록 버튼 */
.buyUpdateBtnBox {
    display: flex;
    gap: 20px;
}

.buyUpdateBtn {
    width: 80px;
    height: 35px;
    
}

/* 목록 버튼 */
.ListBtn {
    background-color: #22284C;
    border-color: #22284C;
    width: 80px;
    height: 35px;
}

/* 구매 수정페이지 -주문정보 행 한줄 */
.BuyUpdateFrom {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬로 고정 */
    gap: 20px;
}

.updateInput {
    width: 210px;
}

/* 구매 입력 페이지 - 구매입력 */
/* 입력 박스 -  입력칸 3개씩 한행으로 나눠서 flex 적용*/
.inputBox {
    display: flex;
    width: 960px;
    height: 40px;
    margin-bottom: 10px;
}
/* 하나의 입력칸 */
.input {
    display: flex;
    margin-right: 20px;
    width: 70;
}
/* 날짜, 거래유형 입력 */
.input_date_type {
    width: 300px;
}

/* 모달 입력칸 */
.inputModal {
    width: 200px;
}

.inputModalSide {
    width: 150px;
}

/* 구매 입력 페이지 - 총합계 */
.insertTotalSum {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬로 고정 */
    width: 100%;
    max-width: 1350px;
    font-weight: bold;
}

.updateTotalSum {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬로 고정 */
    width: 100%;
    max-width: 1500px;
    font-weight: bold;
}

/* 구매 팀 버튼 - 행추가, 저장버튼 */
.buyBtnBox {
    display: flex;
    gap: 20px;
}

.buyBtn {
    width: 80px;
    height: 35px;
}

/* 구매현황 페이지 - 검색 버튼 */
.statusSearchBtn {
    width: 80px;
    height: 35px;
    margin-top: 10px;
}

.statusExcelBtn {
    width: 100px;
    height: 35px;
    margin-top: 10px;
}

