@charset "UTF-8";

.text_center{
    text-align: center;
}
.text_left{
    text-align: left;
}
.text_right{
    text-align: right;
}
.text_middle{
    text-align: middle;
}

.area_fit{
    padding: 6px;
    width: 80%;
    max-width: 90px;
    height: 100%;
    font-size: 13px;
    vertical-align: middle;
    line-height: 1.8;
    margin: 0 auto;
}

.no_border{
    border: 0;
    outline: none;
}

.border_black_1px{
    border: 1px solid black;
}

.padding_10px{
    margin-top: 15px;
    padding: 10px;
}

/**/
.max_content_margin_10px_auto{
    margin: 10px auto;
    width: max-content;
}

.margin_left{margin-left : 15px;}
.margin_right{margin-right : 15px;}
.margin_top{margin-top : 15px;}
.margin_bottom{margin-bottom : 15px;}

.borderradius_10px{
    border-radius: 10px;
}

.display_flex{
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: center;
    gap: 20px;
}

.logiHeader{
    width: 100%;
    background-color: #8b8b8b;
    color: #ffffff;
    font-size: 28px;
    text-indent: 10px;
    border-radius: 10px;
    /* border-left: 8px solid rgb(255, 158, 158); */
    padding: 5px 0px;
}

.overflow_scroll{
    overflow: scroll;
}

.for_main{
    max-height: 270px;
    width: auto;
    height: 360px;
}

.flex_wrap_for_main{
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.main_components{
    width: 100%;
    height: 40%;
}

.warp_for_left{
    width:90%;
    height: max-content;
}

.warp_for_right{
    width:40%;
}

/* Card 박스*/
.card {
    max-width: 1160px;
    margin: 0 auto;
    padding: 50px 50px;
}

.card .text_center>p,
.card .text_center>div{
    margin-top: 15px;
    padding: 10px 0px;
}

/* 오른쪽 drawer 버튼 */
.right_drawer_btn{
    height: 100%;
}

.position_right{
    position: absolute;
    right: 0;
    height: 82%;
    width: 7%;
}

.rs-btn-icon-with-text.rs-btn.right_drawer_btn>.rs-icon{
    height: 100%;
}


/*물류 화면 크기 관련*/
main.rs-content {
    min-height: 560px;
    max-height: 780px !important;
}

.rs-table-body-wheel-area{
    min-height: max-content;
}

.for_main ~ .rs-table-body-row-wrapper{
    height: max-content;
}

.rs-table-loader-wrapper {
    display: none;
}

/* 버튼 관련 */
/* 버튼 크기 */
.btn.wide_fit{
    min-width: 120px;
}

.margin_0{
    margin: 0;
}

/* 버튼 박스 간격 */
.btn_space{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: max-content;
    margin: 0 auto;
}

/* 입고 상세 목록 */
/* 입고완료/미완료 */
.b_confirm {
    background-color: #cce5ff;
    color: #004085;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

.b_no_confirm {
    background-color: #f8d7da;
    color: #721c24;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}


/* a 링크 크기 */
.in_li{
    width: 100%;
    padding: 0;
    justify-content: center;
    margin: 0px 26px 0px 0px;
}

/*input 크기 */
.input_width{
	width: 30px;
}

.div_input_save{
	width:100%;
	background-color: var(--rs-input-bg);
	font-size: 14px;
    line-height: 1.42857143;
    padding: 7px 11px;
	border: 1px solid var(--rs-border-primary);
	border-radius: 5px ;
    color: var(--rs-text-primary);
    transition: border-color .15s ease-in-out;
    box-sizing: border-box;
    background-image: none;
}


/* 타이틀 스타일(title style) */
.main_title {
    margin: 10px 20px 15px 0px;
    font-size: 17px;
    font-weight: bold;
    min-width: 100%;
}

/* dropdown menu */
.rs-navbar-item, .rs-navbar-nav>.rs-dropdown .rs-dropdown-toggle{
	color : white !important;
    font-weight: bold;
}

.rs-navbar-default .rs-dropdown .rs-dropdown-toggle:hover, .rs-navbar-default .rs-dropdown.rs-dropdown-open .rs-dropdown-toggle{
	background-color : #eeeeee !important;
	color : rgb(34, 40, 76) !important;
}

ul.rs-dropdown-menu {
    width: 100% !important;
}

.rs-navbar-default .rs-navbar-item:hover{
   background-color: rgb(34, 40, 76) !important;
}

.cursor_pointer{
    cursor: pointer;
}

.logis_pagination{
	justify-content: space-evenly;
	min-width: 810px;
	max-width: 910px;
	margin: 0 auto;
}

.buyBtnBox {
    display: flex;
    gap: 20px;
    margin: 10px 0px;
}

.BtnBoxLeftMargin {
    margin-left: 10px;
}

.main_container{
	width:1760px;
	margin: 0 auto;
}

.inputBox {
	display: flex;
	justify-content: flex-start;
	width: 1470px;
	max-width: 1500px;
	height: 40px;
	margin: 0px 0px 10px 10px;
	gap: 20px;
}

/* 테이블 헤드 색상 및 정렬 */
.rs-table-cell-header .rs-table-cell-content{
	text-align : center;
	background-color: rgb(248, 249, 250);
}